<div class="cover-container">
  <div class="inner cover">
  <h1 class="cover-heading">ツイートを眺めよう</h1>
    <p class="lead">ツイ生はツイートをTVを見てるかのように眺めることが出来るサービスです。</p>
    <p class="lead">
      <%= link_to("試してみる", screen_path(screen: { tag_name: 'twitter' }), class: 'btn btn-lg btn-default') %>
    </p>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>created service by <a href="https://twitter.com/_simanman">@_simanman</a> and <a href="https://twitter.com/tompng">@tompng</a></p>
    </div>
  </div>
</div>