<header class='navbar navbar-default' role='navigation'>
  <div class='container'>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav navbar-left' id='search_box'>
        <li>現在の接続人数は<span id='watchers'>0</span>人です</li>
      </ul>
    </div>
  </div>
</header>
<div>
  <canvas id="tvscreen" width="800" height="400">
  </canvas>
</div>