<script>
  var ws_rails = new WebSocketRails('localhost:3000/websocket');

  // メッセージ受信時の処理
  ws_rails.bind('websocket_screen', function(message){
    var message_li = document.createElement('li');
    message_li.textContent = message;

    document.getElementById('screen_area').appendChild(message_li);
  });

  document.getElementById('send').onclick = function(){
    var comment = document.getElementById('comment').value;

    ws_rails.trigger('websocket_screen', comment);
  };
</script>

<div class='row'>
  <div class="col-sm-8 main" id='mainscreen'>
    <%= render partial: 'tvscreen' %>
  </div>
  <div class="col-sm-4 slidebar" id='subscreen'>
    <%= render partial: 'twscreen' %>
  </div>
</div>