<div class='row'>
  <div class="col-sm-8 main" id='mainscreen'>
    <%= render partial: 'tvscreen' %>
  </div>
  <div class="col-sm-4 slidebar" id='subscreen'>
    <%= render partial: 'timeline' %>
  </div>
</div>
