<div class='row'>
  <div class="col-sm-8 main" id='mainscreen'>
    <%= render partial: 'tvscreen' %>
  </div>
  <div class="col-sm-4 slidebar" id='subscreen'>
    <%= render partial: 'timeline' %>
  </div>
</div>

<%= javascript_include_tag 'createjs-2013.12.12.min' %>
<%= javascript_include_tag 'tvscreen' %>

<script>
  $(document).ready(function(){
    TvScreen.init();
  });
</script>