// Place all the styles related to the screen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mainscreen {
  height: 600px;
  background-color: #888;
  padding: 10px;
}

#subscreen {
  height: 600px;
  background-color: #a03;
  padding: 10px;
}