// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Padding for spacing */
/*
 * Base structure
 */

html, body {
  height: 100%;
  background-color: #333;
}

body {
  color: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.inner {
  padding: 30px;
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}